.dNone {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rightSection {
  display: flex;
  align-items: center;
}

.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 24px;
}
