@use "@src/core/styles/global.scss" as *;

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 64px;

  @include tablet {
    height: 80px;
  }

  @include tablet {
    height: 88px;
  }
}

.leftSection {
  display: flex;
  align-items: center;

  .additionalLogo {
    margin-left: 24px;
  }
}

.rightSection {
  display: flex;
  align-items: center;

  & > :last-child {
    text-align: right;
  }
}

.shadow {
  box-shadow: -1px 2px 4px 0px rgba(0, 0, 0, 0.05);
}

.phoneContainer {
  display: none;

  @include desktop {
    display: block;
  }
}

.btnGroup {
  display: flex;
  align-items: center;

  .btn {
    display: none;

    @include desktop {
      display: flex;
      text-transform: none;
      border-radius: 8px;
      height: 40px;
      width: 168px;
      font-size: 14px;
    }
  }
}

.burger {
  background: none;
  border: none;
  cursor: pointer;

  @include desktop {
    display: none;
  }
}

.hide {
  display: none !important;

  @include tablet {
    display: block !important;
  }
}
