@use "../../core/styles/global.scss" as *;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 64px;

  @include tablet {
    height: 80px;
  }

  @include tablet {
    height: 88px;
  }
}

.rightSection {
  display: flex;
  align-items: center;
}

.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 24px;
}

.shadow {
  box-shadow: -1px 2px 4px 0px rgba(0, 0, 0, 0.05);
}

.phoneContainer {
  display: none;

  @include desktop {
    display: block;
  }
}
