@import "../../core/styles/media-queries.scss";
.accordion {
  width: 100%;
}

.head {
  border-radius: 4px;
  padding: 16px 20px;
  width: 100%;
  cursor: pointer;
  background: #f0f4f9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.title {
  font-weight: 500;
  font-size: 16px;
  color: #292929;
  flex: 1;
  line-height: 130%;
}

.icon {
  border: 1px solid #607286;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  &.isOpen {
    transform: rotate(180deg);
  }
}

.collapsedContent {
  border-radius: 0 0 4px 4px;
  padding: 24px 16px;

  @include isDesktop {
    padding: 24px;
  }
}
