{
  "env": { "browser": true },
  "extends": ["airbnb", "airbnb/hooks", "eslint-config-prettier", "eslint-config-prettier/react"],
  "rules": {
    "react/jsx-filename-extension": ["warn", { "extensions": [".js", ".jsx"] }],
    "react/jsx-props-no-spreading": "warn",
    "jsx-a11y/label-has-associated-control": ["warn", { "assert": "either" }],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": ["**/*.stories.js"] }],
    "import/prefer-default-export": "warn",
    "react/no-array-index-key": "warn",
    "camelcase": "warn",
    "react/prop-types": "warn",
    "no-console": "off"
  }
}
