{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "babelOptions": {
      "configFile": "./babelConfig.js"
    }
  },
  "env": { "browser": true },
  "extends": ["airbnb", "airbnb/hooks", "eslint-config-prettier", "eslint-config-prettier/react"],
  "rules": {
    "react/jsx-filename-extension": ["warn", { "extensions": [".js", ".jsx"] }],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": ["**/*.stories.js"] }],
    "jsx-a11y/label-has-associated-control": ["warn", { "assert": "either" }],
    "react/jsx-props-no-spreading": "off",
    "import/prefer-default-export": "off",
    "react/no-array-index-key": "off",
    "camelcase": "off",
    "react/prop-types": "off",
    "no-console": "off",
    "react/jsx-no-bind": "off"
  }
}
