@use "@src/core/styles" as *;

.hintContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .closeIcon {
    width: 11px;
    height: 11px;
    cursor: pointer;
  }

  .hintIcon {
    width: 20px;
    height: 20px;
  }

  .hintText {
    font-size: 12px;
    line-height: 16px;
    max-width: 186px;

    @include tablet {
      max-width: 142px;
    }

    @include desktop {
      max-width: 212px;
    }
  }
}
