@use "../../../core/styles/global.scss" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding: 48px 0;
  margin: 0 auto;
  position: relative;

  @include tablet {
    position: relative;
    padding: 32px 48px;
    margin-top: 48px;
    min-height: 306px;
  }

  @include desktop {
    text-align: center;
    padding: 48px 165px;
    align-items: center;
  }

  @include desktop-only {
    margin-top: 40px;
  }

  .message {
    display: flex;
    flex-direction: column;

    @include desktop {
      align-items: center;
    }
  }
}

.icon {
  display: block;
}

.title {
  font-family: "Montserrat";
  line-height: 28px;
  margin: 32px 0 16px;
}

.subTitle {
  line-height: 22px;
  letter-spacing: 0.2px;
  margin: 0;
}

.btn {
  position: absolute !important;
  text-transform: none !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 24px !important;
  letter-spacing: 0.4px !important;
  padding: 12px 0 !important;
  border-radius: 8px !important;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 328px;

  @include mobile-only {
    top: 504px;
  }

  @include tablet-only {
    bottom: -96px;
  }

  @include desktop {
    position: unset !important;
    left: unset;
    transform: unset;
    margin-top: 40px !important;
  }
}
