.childrenContainer {
  cursor: pointer;
}

.MuiTooltip-tooltip {
  color: #000;
  position: absolute;
  pointer-events: auto;
  padding: 12px 16px;
  background-color: #edf6fe;
  box-sizing: border-box;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  width: 280px;
  transition: 0.5s all;
  margin-top: 16px;
}

.icon {
  vertical-align: middle;
}
