@import "../../core/styles/media-queries.scss";

.container {
  margin: 0 auto;
  padding: 0 16px;

  @include tablet {
    max-width: 600px;
    padding: 0 24px;
  }
  @include desktop {
    max-width: 960px;
  }
  @include large-desktop {
    max-width: 1280px;
  }
}
