.tab {
  width: max-content;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  background: #f0f4f9;
  color: #485462;
  transition: all 0.3s ease-in-out;
  &.active,
  &:hover {
    color: #fff;
    background: #003791;
  }

  &:focus,
  &:active {
    border-color: #003791;
  }
}
