@import "../../../../../core/styles/media-queries.scss";
.wrapper {
  display: flex;
  flex-direction: column;
  &_2_columns {
    max-width: 656px;
  }

  &_3_columns {
    max-width: 768px;
  }
}

.rowsWrapper {
  display: flex;
  flex-direction: column;
  &_3_columns {
    overflow-x: auto;
    padding-bottom: 10px;

    @include isDesktop {
      overflow: inherit;
      padding: 0;
    }
  }
}

.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 137%;
  color: #292929;
  margin-bottom: 24px;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 137%;
  color: #292929;
  max-width: 608px;
  margin-top: 24px;
}
