@use "src/core/styles" as *;

.section {
  margin: 88px 0;
}

.headTitle {
  font-weight: 700;
  color: #292929;
  font-size: 24px;
  @include isDesktop {
    font-size: 32px;
  }
}

.tabsList {
  display: flex;
  align-items: center;
  gap: 20px;
  overflow-x: auto;
  max-width: 1188px;
  padding-bottom: 10px;
}

.contents {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 24px;

  @include isDesktop {
    margin-top: 32px;
  }
}
