:root {
  //COLORS
  --black-primary-color: #292929;
  --pink-primary-color: #ff4b5f;
  --blue-primary-color: #003791;
  --white-color: #ffffff;
  --gray-dark-color: #607289;
  --gray-color: #a1afbf;
}
