@use "src/core/styles" as *;

.container {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 500;
  line-height: 125%;
  column-gap: 8px;

  @include desktop {
    column-gap: 16px;
  }
}
