.sliderRoot {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
  width: 100%;
  height: 20px;

  & .sliderTrack {
    position: relative;
    flex-grow: 1;
    border-radius: 9999px;
    height: 4px;
    background-color: #f2f2f2;
  }

  & .sliderRange {
    position: absolute;
    background-color: #003791;
    border-radius: 9999px;
    height: 100%;
  }

  & .sliderThumb {
    display: block;
    width: 28px;
    height: 28px;
    background-color: #fff;
    border-radius: 100%;
    border: 3.5px solid #003791;
  }

  & .sliderThumb {
    &:hover {
      box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }
  }

  & .sliderThumb {
    &:focus {
      outline: none;
    }
  }
}
